// CSS Style Guide: http://codeguide.co/#css



$scheme: 'Pisces';



// Variables Layer
// --------------------------------------------------
@import "_variables/base";
@import "_variables/Pisces";
@import "_variables/custom";


// Mixins Layer
// --------------------------------------------------
@import "_mixins/base";
@import "_mixins/Pisces";
@import "_mixins/custom";



// Common Layer
// --------------------------------------------------

// Scaffolding
@import "_common/scaffolding/scaffolding";

// Layout
@import "_common/outline/outline";

// Components
@import "_common/components/components";


// Schemes Layer
// --------------------------------------------------
@import "_schemes/Pisces/index";



// Custom Layer
// --------------------------------------------------
@import "_custom/custom";

@import "vendor/nprogress";
@import "vendor/aplayer";
@import "vendor/zoom-image";

#nprogress .bar {
  background: $main-color;
}

.post-body .aplayer {
  margin-bottom: 30px;
}
