<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<meta name="theme-color" content="#000">

<link rel="preload" href="/fonts/Candyshop.otf" as="font" type="font/otf" crossorigin="anonymous">

{# #238, Disable Baidu tranformation #}
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />


{% if theme.google_site_verification %}
  <meta name="google-site-verification" content="{{ theme.google_site_verification }}" />
{% endif %}

<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

{% set font_awesome_uri = url_for(theme.vendors._internal + '/font-awesome/css/font-awesome.min.css?v=4.7.0') %}
{% if theme.vendors.fontawesome %}
  {% set font_awesome_uri = theme.vendors.fontawesome %}
{% endif %}
<link href="{{ font_awesome_uri }}" rel="stylesheet" type="text/css" />

{% set social_share_uri = url_for(theme.vendors._internal + '/social-share.js/css/share.min.css?v=1.0.9') %}
{% if theme.vendors.fontawesome %}
  {% set social_share_uri = theme.vendors.social_share_css %}
{% endif %}
<link href="{{ social_share_uri }}" rel="stylesheet" type="text/css" />

<link href="{{ url_for(theme.css) }}/main.css?v={{ theme.version }}" rel="stylesheet" type="text/css" />
{% if theme.favicon.narmal %}
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for(theme.favicon.narmal) }}?v={{ theme.version }}">
{% endif %}

{% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}" />
{% elif page.tags and page.tags.length %}
  <meta name="keywords" content="{% for tag in page.tags %}{{ tag.name }},{% endfor %}" />
{% elif theme.keywords %}
  <meta name="keywords" content="{{ theme.keywords }}" />
{% endif %}


{% set rss_path = theme.rss %}
{% if rss_path == '' and config.feed and config.feed.path %}
  {% set rss_path = config.feed.path %}
{% endif %}
{% if rss_path %}
  <link rel="alternate" href="{{ url_for(rss_path) }}" title="{{ config.title }}" type="application/atom+xml" />
{% endif %}


{{
  open_graph({
    twitter_id: theme.twitter,
    google_plus: theme.google_plus,
    fb_admins: theme.fb_admins,
    fb_app_id: theme.fb_app_id
  })
}}


{# Export some HEXO Configurations to Front-End #}
<script type="text/javascript" id="hexo.configurations">
  var NexT = window.NexT || {};
  var CONFIG = {
    root: '{{ theme.root }}',
    scheme: '{{ theme.scheme }}',
    version: '{{ theme.version }}',
    sidebar: {{ theme.sidebar | dump }},
    tabs: {{ theme.tabs.enable }},
    since: '{{ theme.footer.since }}',
    site: {
      title: '{{ theme.title }}',
      subtitle: '{{ theme.subtitle }}',
      author: '{{ theme.author }}'
    },
    favicon: {
      visibilitychange: {{theme.favicon.visibilitychange}},
      narmal: '{{theme.favicon.narmal}}',
      hidden: '{{theme.favicon.hidden}}',
      show_text: '{{theme.favicon.show_text}}',
      hide_text: '{{theme.favicon.hide_text}}'
    }
  };
</script>
{% set js_vendors = { jquery: true } %}
{% for name, internal in js_vendors %}
  <script type="text/javascript" src="{{ theme.vendors[name] }}"></script>
{% endfor %}

{# Canonical, good for google search engine (SEO) : https://support.google.com/webmasters/answer/139066 #}
{% if theme.canonical %}
  <link rel="canonical" href="{{ config.url }}/{{ page.canonical_path | replace('index.html', '') }}"/>
{% endif %}

{% include '_partials/head/custom-head.njk' %}
