{% extends '_layout.njk' %}
{% import '_macro/post.njk' as post_template %}
{% import '_macro/sidebar.njk' as sidebar_template %}


{% block title %}{{ page.title }} | {{ config.title }}{% endblock %}

{% block page_class %}page-post-detail{% endblock %}


{% block content %}

  <div id="posts" class="posts-expand">
    {{ post_template.render(page) }}

    <div class="post-spread">
      {% if theme.jiathis %}
        {% include '_partials/share/jiathis.njk' %}
      {% elif theme.baidushare %}
        {% include '_partials/share/baidushare.njk' %}
      {% elif theme.add_this_id %}
        {% include '_partials/share/add-this.njk' %}
      {% endif %}
    </div>
  </div>

{% endblock %}

{% block sidebar %}
  {{ sidebar_template.render(true) }}
{% endblock %}

{% block script_extra %}
  {% include '_scripts/pages/post-details.njk' %}
{% endblock %}
